@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html[data-theme="dark"] {
    /* CSS variables for accessibility changes in here */
    --main-bg-colour: #000;
    --main-text-colour: #fff;
}

html[data-theme="light"] {
    /* CSS variables for accessibility changes in here */
    --main-bg-colour: #fff;
    --main-text-colour: #000;
}

body {
    font-family: 'Nunito', sans-serif;
    background-color: var(--main-bg-colour);
    color: var(--main-text-colour);
}

.center {
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
}

.width-small {
    max-width: 20rem;
}

.width-large {
    max-width: 40rem;
}

.width-extra-large {
    max-width: 60rem;
}

.stack-small>*+* {
    margin-top: 0.5rem;
}

.stack-medium>*+* {
    margin-top: 1rem;
}

.stack-large>*+* {
    margin-top: 2rem;
}

.stack-extra-large>*+* {
    margin-top: 4rem;
}